body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 36px auto 100px;
  grid-auto-flow: row;
  grid-template-areas:
    'header'
    'navigation'
    'main'
    'footer';
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.header {
  grid-area: header;
  background-color: #fcfafa;
}

.navigation {
  grid-area: navigation;
  background-color: #ff3366;
}

.main {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 25px;
  grid-auto-flow: row;
  grid-template-areas: 'sidebar content';
  grid-area: main;
  margin: 0 auto;
  width: 90%;
}

.sidebar {
  grid-area: sidebar;
  padding: 15px 0px;
}

.content {
  grid-area: content;
  padding: 15px 0px;
}

.footer {
  grid-area: footer;
  color: #fff;
  background-color: #000000;
}

.footer a {
  color: #ff3366;
}

.footer a:hover {
  color: #bd294e;
}

.footer p {
  margin-top: 15px;
}

.container-fluid {
  margin: 0 auto;
  width: 90%;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0px;
}

.menu li {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-right: 1px;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  /*background-color: #ff3366;*/
  padding: 10px 15px;
}

.menu li a:hover {
  /*background-color: #ff3366;*/
  color: #000;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  height: 100%;
}

.header h1 {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-top: 0 !important;
}

.logo {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 15px;
}

.content-sidebar {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.content-sidebar p {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
