h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 15px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 0;
}

h4 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 0;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0;
}

h6 {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 10px;
}
