/*color*/
.deeppink {
  background-color: #ff3366 !important;
}

.deeppink-text {
  color: #ff3366 !important;
}

.deeppink.lighten-5 {
  background-color: #ffd2dd !important;
}

.deeppink-text.text-lighten-5 {
  color: #ffd2dd !important;
}

.deeppink.lighten-4 {
  background-color: #fd9fb6 !important;
}

.deeppink-text.text-lighten-4 {
  color: #fd9fb6 !important;
}

.deeppink.lighten-3 {
  background-color: #fc688d !important;
}

.deeppink-text.text-lighten-3 {
  color: #fc688d !important;
}

.deeppink.lighten-2 {
  background-color: #fc3f6e !important;
}

.deeppink-text.text-lighten-2 {
  color: #fc3f6e !important;
}

.deeppink.lighten-1 {
  background-color: #fc1f56 !important;
}

.deeppink-text.text-lighten-1 {
  color: #fc1f56 !important;
}

.deeppink.darken-1 {
  background-color: rgb(168, 12, 51) !important;
}

.deeppink-text.text-darken-1 {
  color: rgb(168, 12, 51) !important;
}

.deeppink.darken-2 {
  background-color: rgb(136, 7, 39) !important;
}

.deeppink-text.text-darken-2 {
  color: rgb(136, 7, 39) !important;
}

.deeppink.darken-3 {
  background-color: rgb(107, 3, 29) !important;
}

.deeppink-text.text-darken-3 {
  color: rgb(107, 3, 29) !important;
}

.deeppink.darken-4 {
  background-color: #1a237e !important;
}

.deeppink-text.text-darken-4 {
  color: #1a237e !important;
}

.deeppink.accent-1 {
  background-color: #8c9eff !important;
}

.deeppink-text.text-accent-1 {
  color: #8c9eff !important;
}

.deeppink.accent-2 {
  background-color: #536dfe !important;
}

.deeppink-text.text-accent-2 {
  color: #536dfe !important;
}

.deeppink.accent-3 {
  background-color: #3d5afe !important;
}

.deeppink-text.text-accent-3 {
  color: #3d5afe !important;
}

.deeppink.accent-4 {
  background-color: #304ffe !important;
}

.deeppink-text.text-accent-4 {
  color: #304ffe !important;
}
